/node_modules
.temp
.cache
dist

.DS_Store
node_modules/
/node_modules
/dist
/.temp
/.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Executables
*.swf
*.air
*.ipa
*.apk
*.zip

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.temp
temp

/docs/09_tools/.$git_status.svg.bkp
/docs/05_product/drawio/.$鸿蒙教育产品整体架构规划.drawio.svg.bkp
/docs/05_product/drawio/.$鸿蒙教育产品整体架构规划.drawio.bkp
/docs/05_product/鸿蒙教育产品规划.md