/node_modules
.temp
.cache
dist

.DS_Store
node_modules/
/node_modules
/dist
/.temp
/.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Executables
*.swf
*.air
*.ipa
*.apk
*.zip


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.temp
temp

/docs/03_tools/git_skill.md